@using ToDoList.Models
<h2>@Model.GetDescription()</h2>
<form action="/items/@Model.GetId()/update" method="post">
  <label for="name">Change this item listing to:</label>
  <input type="text" name="newname" value="@Model.GetDescription()">
  <button type="submit">Edit</button>
</form>
<h4> Categories: </h4>
@foreach(var category in Model.GetCategories())
{
      <p>@category.GetName() | <a href="/categories/@category.GetId()/update">View this category</a></p>
}
<form action="/items/@Model.GetId()/addcat" method="post">
  <label for="name">Add a Category:</label>
  <select class="form-control" id="newcat" name="newcat">
    @foreach(var category in Category.GetAll())
    {
      <option value="@category.GetId()">@category.GetName()</option>
    }
  </select>
  <button type="submit">Add this category</button>
</form>

<form action="/items/@Model.GetId()/delete" method="post">
    <button type="submit">Delete this item</button>
</form>
<h4><a href="/items">Return home</a></h4>
